@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;300;400;600;700;900&display=swap");

.container {
  display: grid;
  /* max-width: 1200px;
  margin: 0 auto; */
  min-height: 80vh;
  font-family: "Source Sans Pro", sans-serif;
  place-items: center center;
}
